@{
    ViewBag.Title = "Home Page";
}
<!--first container-->
<div class="container-fluid text-center">
    <h2>Looking For A Room to Book ?</h2>
    <img src="" class="img-responsive" style="display:inline" />
    <br />
    <h3>Have A Look At Scotland Beautiful Views!</h3>
    <video controls autoplay loop muted class="img-responsive center-block">
        <source src="~/Videos/scotland-a-highland-tale-4k-timelapse.mp4" type="video/mp4">
        


        Your browser does not support the video tag.
    </video>

    <br />
</div> 

<!--Second Container-->
<div class="container-fluid bg-2 text-center">
    <h2> Each Page counts </h2>
<br />
<p> Welcome to Violet Robertson's Coastal Bed and Breakfast! Nestled in the picturesque Scottish coastal town, our charming establishment offers a delightful escape for those seeking a tranquil getaway. With breathtaking views of the rugged coastline and serene surroundings, our bed and breakfast provides the perfect setting to unwind and reconnect with nature.</p>
<p><a href="https://www.VisitScotland.com/" class="btn btn-primary btn-lg">VisitScotland</a>
</div>

<!-- Third Container (Grid)-->
<div class="container-fluid bg-3 text-center">
    <h2> discover new Locations !</h2>
    <br/>
     <div class="row">
        <div class="col-sm-4">
            <p>As you navigate through our website, allow the captivating images to transport you to the mesmerizing landscapes that await your arrival. And to truly capture the essence of our town, we offer a multimedia experience, either through a captivating video clip showcasing the beauty of the local scenes or a soothing voiceover that introduces you to the unique ambiance of the area.</p>
         <img src="~/Images/visitscotland_31466749196_663140183.jpg" class="img-responsive margin" style="width:100%"alt="Image">
         </div>
     <div class="col-sm-4">
         <p>Immerse yourself in the local charm and the  rich cultural heritage of the area. Discover the allure of quaint fishing villages, explore historic landmarks, and indulge in the vibrant culinary scene. Whether you're an outdoor enthusiast, history buff, or simply seeking relaxation, our coastal town has something for everyone.</p>
       <img  src="~/Images/oban-harbour.jpg" class="img-responsive margin" style="width:100%" alt="Image">
     </div>
      <div class="col-sm-4">
          <p>This stunning spot on the Scottish Borders coastline is ideal for refreshing coastal walks and seabird spotting. Head to St Abb’s Head National Nature Reserve to see the dramatic cliffs and the colonies of seabirds that nest there during the summer months. In winter you might spot grey seal pups on the reserve’s beaches.</p>
      <img src="~/Images/visitscotland_33264981163_1790613492.jpg" class="img-responsive margin" style="width:100%" alt="Image">
      </div>
  </div>
</div>